<h1>Webpack + Rails</h1>

<div>
  Count: <span class="js-count">0</span>
  <br />
  <button class="js-count-button btn btn-primary">Increment Count</button>
</div>

<div>
  Message: <span class="js-message"></span>
</div>
