<!DOCTYPE html>
<html>
<head>
  <title>Webpack Rails Demo</title>
  <% if Rails.env.development? %>
    <%= javascript_include_tag 'http://localhost:3001/bundle.js' %>
  <% else %>
    <%= javascript_include_tag '/bundle.js' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
